    /* section-start */
.start {
    width: 100%;
    height: 1280px;
    background-image: url(../image/stars.svg);
    background-color: black;

}
/* start-haeder */

.start-header {
    margin-top: 175px;
    display: flex;
    justify-content: center;
}

.start-header div {
    width: 1090px;
    height: 212px;      

    display: flex;
    justify-content: center;
    align-items: center;
}
.start-header div h1 {
    font-size: 96px;
    line-height: 119px;
    color: #FE3B1F;
}

@media (max-width: 890px) {
    .start-header div h1 {
        font-size: 70px;
    }
}
@media (max-width: 523px) {
    .start-header div {
        width: 40%;
    }
}
@media (max-width: 486px) {
    .start-header div h1 {
        font-size: 65px;
    }
}

@media (max-width: 416px) {
    .start-header div h1 {
        padding: 0 5vh;
    }
}

@media (max-width: 319px) {
    .start-header div h1 {
        line-height: 80px;
    }
}

/* start-button */ 
.start-button {
    width: 100%;
    margin-top: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-button div {
    width: 395px;
    height: 79px;
    background-color: #FE3B1F;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.start-button div a {
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
    z-index: 1;
}

.start-submit {
    width: 100%;
    margin-top: 18px;
    display: flex;
    justify-content: center;
}
.start-submit div {
    width: 338px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-submit div a {
    font-size: 25px;
    line-height: 29px;
    color: #ffffff;
    text-decoration: underline;
    z-index: 1;
}


.start-image {
    width: 80%;
    position: relative;
}
.start-image div {
    width: 409px;
    height: 372px;
    position: absolute;
    left: 46%;
    transform: rotate(-27deg);  
    top: 25px;

}
img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: rotate(27deg);
}

@media (max-width: 1043px) {
    .start-image div {
        left: 30%;
    }
}

@media (max-width: 800px) {
    .start-image div {
        left: 20%;
    }
}
@media (max-width: 723px) {
    .start-image div {
        left: 15%;
    }
}

@media (max-width: 541px) {
    .start-image div {
        width: 300px;
        height: 300px;
    }

}

@media (max-width: 455px) {
    .start-image div {
        width: 200px;
        height: 200px;
    }
}