body {
    display: flex;
    flex-direction: row;
}


/* main two div-es */
.personal-info, .redberry-origins {
    width: 50%;
    height: 1080px;
}

@media (max-width: 1796px) {
    body {
        flex-direction: column;
    }
    .personal-info, .redberry-origins {
        width: 100%;
    }
}
.redberry-origins {
    background-color: black;
}

.uppercase  {
    text-transform: capitalize;
}
/* personal-info */


.info-header {
    width: 716px;
    text-align: center;
    height: 128px;
    margin: 0 auto;
    margin-top:  131px;
}
@media (max-width: 1789px) {
    .info-header {
        width: 100%;
        margin: 0;
        text-align: center;
    }
}

.info-header h1 {
    font-size: 64px;
    line-height: 40px;
    color: #FE3B1F;
}



.info-header h1 {
    font-size: 35px;
    line-height: 30px;
}



/* info-form */

.info-form {
    width: 455px;
    height: 533px;
    margin: 0 auto;
    margin-top: 131px;
    box-sizing: border-box;
    position: relative;
}
@media (max-width: 649px) {
    .info-form {
        margin: 5vh 0;
        width: 100%;
    }
}

.info-form input {
    width: 455px;
    height: 53px;
    border: 1px solid #525557 ;
}

@media (max-width: 461px) {
    .info-form input {
        width: 250px;
        margin: 0;
    }
}

#lname, #email, #phone {
    margin-top: 37px;
}

/* buttons */

.buttons {
    width: 100%;
    height: 19px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20vh;
}
.buttons div {
    width: 40%;
    display: flex;
    justify-content: space-around;
}

#lname {
    margin-bottom: 4vh;
}

@media (max-width: 626px) {
    .buttons {
        left: 200px;
    }
}

.buttons div div {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    opacity: 0.1;
    background-color: #FE3B1F;

}

.buttons div img {
    width: 20px;
    height: 20px;
}


.info-one {
    background-color: #FE3B1F ;
    opacity: 0.9 !important; 
}

/* redberry-origins */

.origin-header {
    width: 716px;
    height: 94px;
    margin: 0 auto;
    margin-top: 112px;
    margin-left: 177px;
}

.origin-header h1 {
    color: #FE3B1F;
    font-size: 64px;
}

@media (max-width: 1789px) {
    .origin-header {
        width: 100%;
        margin: 5vh 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.origin-text {
    width: 605px;
    height: 606px;
    margin: 0 auto;
    margin-left: 140px;
    display: flex;
    align-items: center;
}



.origin-text p {
    color: #ecebeb;
    font-size: 24px;
    line-height: 60px;
    letter-spacing: -0.0.5rem;
}

@media (max-width: 1789px) {
    .origin-text {
        width: 100%;
        background-color: blue;
        margin: 0;
        display: flex;
        justify-content: center;
    }
    .origin-text div {
        width: 80%;
    }
}

@media (max-width: 458px) {
    .origin-text p {
        font-size: 18px;
        line-height: 40px;
    }
}
