/* genera styls */
.reddberrian {
    width: 100%;
    display: flex;
    flex-direction: row;
}


.about, .insights {
    width: 50%;
    height: 1080px;
}

@media (max-width: 1600px) {
    .reddberrian {
        flex-direction: column-reverse;
    }
    .about, .insights {
        width: 100%;
    }
}

.insights {
    background-color: black;
}

/* about-header */

.about {
    position: relative;
}

.about-header {
    width: 788px;
    height: 175px;
    margin: 0 auto;
    position: absolute;
    top: 43px;
    left: 140px;
    display: flex;
    align-items: center;
}

.about-header h1 {
    font-size: 64px;
    line-height: 79px;
    color: #FE3B1F;
}
@media (max-width: 1580px) {
    .about-header {
        width: 80%;
        position: relative;
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .about-header div {
        width: 60%;

    }
    .about-header div h1 {
        font-size: 45px;
        line-height: 40px;
    }
}



@media (max-width: 851px) {
    .about-header {
        justify-content: left;
    }
}
.dev-flex {
    display: flex;
    width: 10vh;
}
.dev-flex input {
    width: 100px;
}
@media (max-width: 1145px) {
    .dev-flex input {
        width: 100px;
    }

}

.dev-flex .round {
    width: 500px;
    padding: 10px;
}

.bye {
    margin-top: 2vh;
    
}

@media (max-width: 705px) {
    .about-header {
        margin: 0;
        width: 70%;
        justify-content: left;
        display: flex;
        position: relative;
        left: 0;
    
    }
    .about-header div {
        width: 100%;
        justify-content: left;
        display: flex;
        position: absolute;
        left: 0;
    }
    .about-header div h1 {
        font-size: 35px;
    }
}
@media (max-width: 594px) {
    .dev-flex input {
        width: 200px;
    }
}

@media (max-width: 382px) {
    .dev-flex input {
        width: 1000%;
     
    }
    .dev-flex {
        margin: 2vh;
    }
}
/* devtalk */ 

.devtalk {
    width: 645px;
    height: 119px;
    margin: 0 auto;
    margin-top: 345px;

}
@media (max-width: 1143px) {
    .devtalk {
        margin: 0;
        width: 80%;
        display: flex;
        justify-content: center;

    }
    .devtalk div {
        width: 40%;
    }
}

.devtalk p {
    width: 635px;
    font-size: 18px;
    line-height: 22px;

    
}
@media (max-width: 839px) {
    .devtalk   {
      justify-content: left;
      padding: 0 2vh;
      margin-top: 10vh;
    }
    .devtalk p {
        width: 250%;
      
    }
}


.textarea {
    width: 535px;
    height: 122px;
    margin-top: 11px;
}

.special {
    margin-top: 33px;
}

.text-special {
    margin-top: 11px;
    width: 535px;
    height: 89px;
}

.text-special {
    width: 535px;
    height: 89px;
    margin-top: 11px;
}
@media (max-width: 611px){
    .textarea, .text-special {
        width: 100%;
    }
    .speak input, .special input {
        width: 600%;
    }
}

/* about-buttons */

.about-buttons {
    width: 231px;
    height: 19px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 85px;
}

.about-buttons img {
    width: 19px;
    height: 19px;
}

.about-buttons div {
    width: 19px;
    height: 19px;
    background-color: #FE3B1F;
    opacity: 0.1;
    border-radius: 50%;
}

.about-one,
.about-two,
.about-three,
.about-for {
    background-color: #FE3B1F;
    opacity: 1 !important;
}


/* insights-header */

.insights-header {
    width: 788px;
    height: 175px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 43px; */
}

.insights-header h1 {
    font-size: 64px;
    line-height: 79px;
    color: #FE3B1F;
}
@media (max-width: 932px) {
    .insights-header {
        width: 100%;
        margin: 0;
    }
    .insights-header div {
        width: 80%;
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 320px) {
    .insights-header div h1 {
        font-size: 50px;
    }
}
 
.insights-text {
    width: 705px;
    height: 606px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.insights-text p {
    color: #ffffff;
    font-size: 24px;
    line-height: 200%;
    letter-spacing: 0.05em;
}

@media (max-width: 812px) {
    .insights-text {
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .insights-text div {
        width: 80%;
    }
    .insights-text div p {
        font-size: 19px;
        line-height: 30px;
    }
}

@media (max-width: 326px) {
    .insights-text div p {
        padding-top: 10vh;
    }
}