body {
    display: flex;
    flex-direction: row;
}



.technical-skills, .our-battles {
    width: 50%;
    height: 1080px;
}

@media (max-width: 1836px) {
    body {
        flex-direction: column-reverse;
    }
    .technical-skills, .our-battles {
        width: 100%;
    }
}

/* technical-skills */
.technical-header {
    width: 788px;
    height: 175px;
    margin: 0 auto;
    margin-top: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (max-width: 1848px) {
    .technical-header {
        width: 100%;
        margin: 3vh 0;
    }
    .technical-header div {
        width: 80%;
    }
}



.technical-header h1 {
    font-size: 64px;
    line-height: 79px;
    color: #FE3B1F;
}
@media (max-width: 400px) {
    .technical-header div h1 {
        font-size: 45px;
        line-height: 40px;
    }
}
/* technical-input */

.technical-input {
    width: 455px;
    height: 193px;
    margin: 0 auto;
    margin-top: 119px;
    position: relative;
}
.technical-input img {
    width: 19px;
    height: 19px;
    position: absolute;
}
@media(max-width: 721px) {
    .technical-input img {
        top: 15px;
        left: 15px;
    }
}
label {
    width: 455px;
    height: 54px;
    display: flex;
    position: relative;

}
.remove {
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 0;
}

.margin-top {
    margin-top: 17px;
}
.skill-btn {
    position: absolute;
    bottom: 0;
    right: 15px;
    top: 20px;
    height: 15px;
    width: 10px;
    
}
.skill-btn img {
    object-fit: cover;

}
input {
    width: 455px;
    height: 54px;

}


.input-a {
    width: 195px;
    height: 30px;
    background-color: #FE3B1F;
    float: right;
    margin-top: 29px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh 0;

}



.input-a a {
    color: #ffffff;
    padding: 5px 4px;
    padding: 3vh;
}


#experiance {
    margin-top: 31px;
}

/* technic-second */
.technic-second {
    width: 455px;
    margin: 0 auto;
    margin-top: 119px;
    position: relative;
}

.technic-second img {
    width: 20px;
    height: 20px;
    position: absolute;
}
@media (max-width: 803px){
    .technic-second {
        width: 65%;
        margin: 0;
    }
    .technic-second input {
        width: 100%;
        margin: 2vh 4vh;

    }
    .technical-input {
        width: 65%;
        margin: 0;
    }
    .technical-input input {
        width: 100%;
        margin: 2vh 4vh;
    }

}

@media (max-width: 736px) {
    .technic-second img {
        top: 70px;
    }
}
@media (max-width: 500px) {
    .technical-input {
        width: 80%;
    }
    .technical-header input {
        margin: 0;
    }
    .technic-second {
        width: 80%;
    }
    .technic-second input {
        width: 100%;
        margin: 2vh 4vh;

    }
}

/* skil-buttons */

.skill-buttons {
    width: 231px;
    height: 10px;
    margin: 0 auto;
    display: flex;
    margin-top: 80px;
    justify-content: space-evenly;
}

.skill-buttons img {
    width: 19px;
    height: 19px;
}
.skill-buttons div {
    width: 19px;
    height: 15px;
    border-radius: 50%;
    background-color: #FE3B1F;
    opacity: 0.1;
}

/* .skill-buttons::before {
    content: '';
    background-image: url(../image/Previous.svg);
    width: 18px;
    height: 18px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

.skill-buttons img {
    width: 18px;
    height: 18px;
}


.skill-one, .skill-two {
    background-color: #FE3B1F;
    opacity: 1 !important;
}

/* out-battles */
.our-battles {
    background-color: black;
}

.battle-header {
    width: 788px;
    height: 175px;
    margin: 0 auto;
    margin-top: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.battle-header h1 {
    margin-left: 10vh;
    font-size: 64px;
    line-height: 79px;
    color: #FE3B1F;
}
@media (max-width: 1236px) {
    .battle-header {
        width: 80%;
        margin: 0;

    }
    .battle-header div {
        display: flex;
        justify-content: left;
    }
}
@media (max-width: 1156px){
    .battle-header {
        width: 80%;
        margin: 4vh 4vh;
        /* text-align: center; */
    }
    .battle-header div {
        width: 90%;
        text-align: center;
    }
    .battle-header div h1 {
        font-size: 40px;
    }
}
@media (max-width: 462px) {
    .battle-header {
        position: relative;
    }

}
@media (max-width: 400px) {
    .battle-header div h1 {
        font-size: 40px;
        line-height: 40px;
    }
    .battle-header div {
        width: 100%;
        justify-content: left;
    }
    .battle-header {
        margin: 0;
        width: 90%;
        justify-content: left;
    }
}


/* battle-text */

.battle-text {
    width: 565px;
    height: 606px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.battle-text p {
    color: #e0dddd;
    font-size: 24px;
    line-height: 200%;
    letter-spacing: 0.05em;
    
}

@media (max-width: 1177px) {
    .battle-text {
        justify-content: center;
        width: 100%;
        margin-top: 15vg;
    }
    .battle-text div {
        width: 60%;
    }
    .battle-text div p {
        font-size: 20px;
        line-height: 160%;
    }
}